{%load static%}<!DOCTYPE html>
<html>
  <head>
    <title>Add Experience</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/global.css' %}" rel="stylesheet">
  </head>
  <body>
    <p><a href="{% url 'logout' %}">Logout</a></p>
    <h4>{{welcomeMessage}}</h4>
    <form id="add-experience" method="POST">
      {% csrf_token %}
      {{ expAddForm.as_p }}
      <button type="submit">Save</button>
    </form>
  </body>
</html>