|{% load static %}
doctype html
html
  head
    title Character Sheet
    include includes/head.pug
    link(href="{% static 'css/char.css' %}" rel="stylesheet")
  body
    .grid-
      .item
        |{% if notification %}
        p#notification {{notification}}
        |{% endif %}
        p: a(href="{% url 'logout' %}") Logout
        p: a(href="{% url 'addExp' %}") Add Experience
        h4 Welcome {{char.user}}!
        p STR: {{char.STR}}
        p DEX: {{char.DEX}}
        p VIT: {{char.VIT}}
        p END: {{char.END}}
        p INT: {{char.INT}}
        p SOC: {{char.SOC}}
        p EMO: {{char.EMO}}
        p SPR: {{char.SPR}}
        p Hidden Stats...
        p Cold Resistance: {{char.cold}}
        p Heat Resistance: {{char.hot}}
        p Dry Weather Affinity: {{char.dry}}
        p Wet Weather Affinity: {{char.wet}}
        p Riches: {{char.money}}
        #tome-reveal Reveal Tome
        #tome
          |{% for exp in char.experiences.all %}
          p {{exp.description}}
          |{% endfor %}
      .item
        #phaser-canvas
    script(src="{% static 'js/phaser.min.js' %}")
    script(src="{% static 'js/jquery.js' %}")
    script(src="{% static 'js/jqueryui.js' %}")
    script(src="{% static 'js/char.js' %}")
    script(src="{% static 'js/char_game.js' %}")
